*{
    font-family: Arial, sans-serif;
    margin: 0;
}


nav {
    background-color: #FE4E30;
    display: flex;
    justify-content: space-between;
    padding: 21px;
    align-items: center;
    box-shadow: 0px 0px 5px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.left ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.left ul li a {
    text-decoration: none;
    padding: 20px;
    color: #ffffff;
    font-weight: bold;
}

ul li a:hover {
    color: black;
}

.right a {
    display: flex;
    align-items: center;
    background-color: black;
    color: #F7F8FA;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    width: 80px;
    float: right;
    margin-top: 5px;
}

.right {
    width: 100px;
    align-items: center;
}

.right button {
    display: none;
    background-color: #FE4E30;
    padding: 10px;
    border: 1px solid #FE4E30;
    color: black;
    margin-top: 10px;
    margin-left: 10px;
}

/* Hamburger */

.humberger-list {
    display: none;
    flex-direction: column;
    background-color: #FE4E30;
}

.humberger-list.active {
    display: flex;
}

.humberger-list a {
    margin: auto;
    padding: 10px 0;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.humberger-list a:hover {
    text-decoration: underline;
    color: #ffffff;
}

/* AND NAVBAR */

 /* project  */              

 .container {
    background-color: #F7F8FA;
    border-radius: 10px;
    margin: 0;
    border: 1px #F7F8FA solid;
    padding: 15px;
    max-width: 100%;
}

.add-project {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

input, textarea {
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 120px;
}

input:hover, textarea:hover {
    box-shadow: 0px 0px 5px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 5px 0;
}

.awal-akhir {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#startDate, #endDate {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

label {
    font-weight: 900;
}

form input, textarea, form button {
    padding: 10px;
    margin: 15px 0;
    font-weight: 900;
    border: 1px #000000 solid;
    border-radius: 10px;
}

#projectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.technologi {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

#image {
    border: 1px solid;
    background-color: #ffffff;
}

button {
    background-color: black;
    color: #ffffff;
    width: 100%;
    border-radius: 15px;
    font-weight: 800;
    border: 1px solid;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

button:hover {
    transform: scale(1.2);
}


/* RESPONSIF NAVBAR */

@media screen and (max-width: 600px){
    .container{
        display: block;
        padding: 5px;
        
    }
    
    .right button {
        display: flex;
    }

    .right a {
        display: none;
    }
    
    .left ul{
        display: none;
    }

    .icon {
        
        margin:40px auto;
        
    }

}
/* AND RESPONSIF NAVBAR */

/* RESPONSIF FORM PROJECT */

@media (min-width: 600px) {
    .awal-akhir {
        flex-direction: row;
        justify-content: space-between;
    }

    button {
        width: 70px;
        float: right;
    }

    .technologi {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}

/* AND RESPONSIF PROJECT FORM */

